:root{
    --salmon:#EF9D71;
    --black:black;
    --white:white;
    --cyan:#AEDEE0;
    --dsalmon:#532521;
    --dcyan:#1f2f32;
    --grey:rgba(179, 174, 174, 0.996);
}

*::selection{
    background-color:rgb(245, 95, 79);
}

@font-face {
    font-family: ft;
    src: url(font.ttf);
}

body[theme="black"] {
    background-color: rgb(34, 19, 19);
    color: white;
}
body[theme="light"]{
    background-color: #FFFFFF;
}
body[theme="salmon"] {
    background-color: var(--salmon);
    color: rgb(10, 1, 1);
}

body[theme="blue"] {
    background-color: rgb(158, 159, 225);
}

body[theme="red"]{
    background-color: rgb(243, 35, 35);
}

body[theme="white"] {
    background-color: rgb(246, 241, 241);
}

body[theme="cyan"]{
    background-color:var(--cyan);
    color: black;
}
body[theme="cyan"] .section{

    color: rgba(7, 7, 7, 0.9);
}

.vdodiv{
    clip-path: circle(var(--clip) at 50% 50%);
}